@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mein Planer</a>
    </div>
</div> *@

<ul class="nav nav-tabs">
    <li class="nav-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All"
                 activeClass="active">
            <i class="bi-check2-circle"></i>
            <span class="ms-2">Aufgaben</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="lists" activeClass="active">
            <i class="bi-card-list"></i>
            <span class="ms-2">Listen</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="calendar" activeClass="active">
            <i class="bi-calendar4-week"></i>
            <span class="ms-2">Kalendar</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="podcast" activeClass="active">
            <i class="bi-broadcast-pin"></i>
            <span class="ms-2">Podcasts</span>
        </NavLink>
    </li>
</ul>
