@page "/"
@inject ILogger<Home> logger


<h1>My Tasker</h1>
Welcome to <i>My Tasker</i>!

<h2>Open:</h2>
<ul>
    @foreach (ToDo todo in MyTodosOpen)
    {
        <li>
            <input type="checkbox" @bind="todo.Done" @onclick="(e => MarkTodoDone(todo))" />
            @todo.Description
        </li>
    }
</ul>

<h2>Done:</h2>
<ul>
    @foreach (ToDo todo in MyTodosDone)
    {
        <li>
            <strike>
                <input type="checkbox" @bind="todo.Done" @onclick="(e => MarkTodoOpen(todo))" />
                @todo.Description
            </strike>
        </li>
    }
</ul>


@code {

    public List<ToDo> MyTodosOpen { get; set; } = new();
    public List<ToDo> MyTodosDone { get; set; } = new();

    protected override void OnInitialized()
    {
        ToDo myTodo1 = new ToDo("ToDo Nummer 1", false);
        ToDo myTodo2 = new ToDo("ToDo Nummer 2", false);
        ToDo myTodo3 = new ToDo("ToDo Nummer 3", false);

        MyTodosOpen.Add(myTodo1);
        MyTodosOpen.Add(myTodo2);
        MyTodosOpen.Add(myTodo3);
    }

    private void MarkTodoDone(ToDo todo)
    {
        todo.Done = true;

        MyTodosOpen.Remove(todo);
        MyTodosDone.Add(todo);

        logger.LogDebug($"Marked ");

        SortAllEntries();
    }

    private void MarkTodoOpen(ToDo todo)
    {
        todo.Done = false;

        MyTodosDone.Remove(todo);
        MyTodosOpen.Add(todo);

        logger.LogDebug($"222 Checkbox changed for '{todo.Description}', new value: {todo.Done}");

        SortAllEntries();
    }

    private void SortAllEntries()
    {
        // Sorting 
        MyTodosOpen = MyTodosOpen.OrderBy(todo => todo.Description).ToList();
        MyTodosDone = MyTodosDone.OrderBy(todo => todo.Description).ToList();
    }

    
}
